.admin-coupon-manage {
  .v-item-group {
    .v-chip--active {
      .v-chip__content {
        color: #000000;
        i {
          color: $secondary !important;
        }
      }
    }
  }
  .v-chip {
    padding: 0;
  }
  .v-chip--active::before, .v-chip:focus::before {
    opacity: 0 !important;
  }
  .v-chip--clickable:active {
    box-shadow: none !important;
  }
  .v-chip:not(.v-chip--active) {
    background: #ffffff;
  }
}
