.admin-top-shifts {
  .total {
    position: absolute;
    top: 50%;
    left: 30%;
    margin-top: auto;
    margin-bottom: auto;
    transform: translateX(-50%) translateY(-50%);
  }
  .weekly {
    position: absolute;
    display: flex;
    align-items: center;
    right: 30px;
    top: 50%;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    transform: perspective(1px) translateY(-50%);
  }
}
